<form (ngSubmit)="submitForm(myForm)" #myForm="ngForm">
  <input type="text" name="username" [ngClass]="{formElementError: nameFieldError}" [(ngModel)]="username" minlength="3" required [disabled]="formDisabled">

  <span class="error" *ngIf="nameFieldError">{{nameFieldError}}</span>

  <input type="password" [ngClass]="{formElementError: passwordFieldError}" name="password" [(ngModel)]="password" [disabled]="formDisabled">

  <span class="error" *ngIf="passwordFieldError">{{passwordFieldError}}</span>

  <input type="submit" value="Log in" [disabled]="formDisabled">
</form>

{{formData | json}}